tickTime=2000
dataDir={{zookeeper_data_dir}}
clientPort=2181
initLimit=5
syncLimit=2
{% for host_vars in ensemble_hostvars_list %}
server.{{host_vars['myid']}}={{host_vars['ansible_default_ipv4']['address']}}:2888:3888
{% endfor %}
